html
  head
    title Person Page
    link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
  body
    .row
      .column
        a(href = "/")
          h1.MDBHeader Movie DataBase
        a(href="/login")
          button#login.loginSignup Login/Signup
      #logoutSection
        button#logout Logout
    #navbar.row
      a(href="/movies")
        button Search Movies

      a(href="/users")
        button Search Users
      
      a(href="/people")
        button Search People

      a(href="/profile")
        button My Profile
    div
      h1(class="header" id="profileName" name="person") #{person.name}
      if followStatus === true
        button(id="unfollow" class="follow" name=person.name) Unfollow
      else
        button(id="follow" class="follow" name=person.name) Follow
    .row
      .column
        h2#bio.header Bio
        p.bioText
          | #{person.bio}
      .column
        .picture
          img#pfp(src= person.pic alt="person picture")
    .row
      h1.header Movies
      each movie in works
        .boxes
          if movie != undefined
            a.headerLink(href="/movies/" + movie.title)
              h3.header.sub #{movie.title}
            .column
              .row
                p.info Average Rating:
                p #{movie.averageRating}/10
              .row
                p.info Directors:
                p 
                  each director in movie.directors 
                    a.people(href="/people/" + director)
                      = director + ", "
              .row
                p.info Actors:
                p 
                  each actor in movie.actors 
                    a.people(href="/people/" + actor)
                      = actor + ", "
            img.poster(src= movie.poster alt="poster")
    #relatedPeople.row
      h1.header Similar People
      each p in related_ppl
        .person
          a(href="/people/" + p.name)
            label(for="") #{p.name}
          
    script(src="/scripts/logout.js")
    script(src="/scripts/follow.js")